@using System.Globalization;
@model ShoppingCart

<!-- content -->
<section class="py-5">
    <form method="post">
        <input hidden asp-for="ProductId"/>
      <div class="container">
        <div class="row gx-5">
          <aside class="col-lg-6">
            <div class="border rounded-4 mb-3 justify-content-center">
                @if (Model.Product.ProductImages != null && Model.Product.ProductImages.Count() > 0)
                {
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            @foreach(var imageWithIndex in 
                            Model.Product.ProductImages
                            .Select((image,index)=>new{ProductImage = image,Index = index }))
                            {
                                    <button type="button" data-bs-target="#carouselExampleIndicators" 
                                    data-bs-slide-to="@imageWithIndex.Index" class="@(imageWithIndex.Index ==0 ? "active":"")" 
                                    aria-current="true" aria-label="Slide @imageWithIndex.Index"></button>
                            }
                        </div>
                        <div class="carousel-inner">
                            @foreach (var imageWithIndex in
                            Model.Product.ProductImages
                            .Select((image, index) => new { ProductImage = image, Index = index }))
                            {
                                <div class="@(imageWithIndex.Index ==0 ? "carousel-item active":"carousel-item")">
                                    <img src="@imageWithIndex.ProductImage.ImageUrl" class=" w-100 vh-75" alt="...">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                }
            </div>
            <!-- thumbs-wrap.// -->
            <!-- gallery-wrap .end// -->
          </aside>
          <main class="col-lg-6">
            <div class="ps-lg-3">
                        <h4 class="title text-dark">
                            @Model.Product.Description
              </h4>
              <div class="d-flex flex-row my-3">
                <div class="text-warning mb-1 me-2">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>

              <div class="mb-3">
                <span class="h5">
                    @Model.Product.ListPrice.ToString("C3",CultureInfo.CreateSpecificCulture("en-EG"))
                </span>
                <span class="text-muted">/per item</span>
              </div>

              <p>
                  @Model.Product.Description
              </p>

              <div class="row">
                <dt class="col-3">Type:</dt>
                            <dd class="col-9">@Model.Product.Category.Name</dd>

                <dt class="col-3">Color</dt>
                <dd class="col-9">Brown</dd>

                <dt class="col-3">Material</dt>
                <dd class="col-9">Cotton, Jeans</dd>

                <dt class="col-3">Brand</dt>
                <dd class="col-9">Reebook</dd>
              </div>

              <hr />

              <div class="row mb-4">
                <div class="col-md-4 col-6">
                  <label class="mb-2">Size</label>
                    <select asp-for="productSizeId" asp-items="@ViewBag.sizes" class="form-select border-0 shadow" required data-val="true" data-val-required="Please select a category">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="productSizeId" class="text-danger"></span>
                </div>
                <!-- col.// -->
                <div class="col-md-4 col-6 mb-3">
                  <label class="mb-2 d-block">Quantity</label>
                  <div class="input-group mb-3" style="width: 170px;">
                    <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                      <i class="fas fa-minus"></i>
                    </button>
                    <input type="text" asp-for="count" class="form-control text-center border border-secondary" placeholder="14" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                    <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </button>
            </div>
          </main>
        </div>
      </div>
    </form>
</section>
<!-- content -->
@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
} 